<%- include("partials/header.ejs") %>

    <div class="container page-content">
        <div class="about-wrapper">
            <div class="about-image">
                <img src="images/headshot.jpg" alt="作者照片">
            </div>
            <div class="about-text">
                <h1>你好，我是 Alex。</h1>
                <p class="intro">一名前端工程師、攝影愛好者，也是這個部落格的作者。</p>
                
                <p>2020 年，我開始接觸網頁開發，從此愛上了用代碼創造事物的感覺。建立這個部落格的初衷，是為了強迫自己輸出學習筆記。</p>
                
                <h3>我的技能</h3>
                <ul class="skill-list">
                    <li>HTML5 / CSS3</li>
                    <li>JavaScript (ES6+)</li>
                    <li>Python</li>
                    <li>C++</li>
                </ul>

                <p>除了寫程式，我也喜歡在週末打球。如果你對我的文章有興趣，歡迎隨時透過聯絡頁面找我聊天！</p>
            </div>
        </div>
    </div>

